<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>

    </h:head>
    <h:body>
        <ui:composition >
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Trang chủ</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Các chức năng</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Nhân viên</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="trangNhanVien.xhtml">xem thông tin</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Xem danh sách địa điểm du lịch</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="DiaDiemDuLich.xhtml">Xem thông tin</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Lương nhân viên</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="LuongNhanVien.xhtml">Xem thông tin</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Doanh thu hàng tháng</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="DoanhThuThang.xhtml">Xem thông tin</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Biểu đồ doanh thu tour
                                    </div>
                                    <div class="card-body">
                                        <p:chart type="bar" model="#{bieuDo.doanhThu}" style="height: 300px" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Biểu đồ doanh thu theo tháng
                                    </div>
                                    <div class="card-body">
                                        <p:chart type="pie" model="#{bieuDo.luongNhanVien}" style="height: 300px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card mb-12">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Top 3 tour bán chạy nhất
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <p:outputPanel id="opnList" >
                                                <p:panel header="Danh sách tour bán chạy" >
                                                    <p:dataTable value="#{tourController.lstTopTour}" var="entity" >
                                                        <p:column headerText="Vị trí" >
                                                            <img src="#{request.contextPath}/#{entity.image}" width="100%" height="100px" />
                                                        </p:column>
                                                        <p:column headerText="Tên tour" >
                                                            <p:outputLabel value="#{entity.nameTour}" />
                                                        </p:column>
                                                        <p:column headerText="Ngày khởi hành" >
                                                            <p:outputLabel value="#{tourController.convertDate(entity.dateStart)}" />
                                                        </p:column>
                                                        <p:column headerText="Giá tour" >
                                                            <p:outputLabel value="#{tourController.convertDouble(entity.price)}" />
                                                        </p:column>
                                                        <p:column headerText="Số lượng người đã đăng ký" >
                                                            <p:outputLabel value="#{entity.numberPeople} người" />
                                                        </p:column>
                                                    </p:dataTable>
                                                </p:panel>  
                                            </p:outputPanel>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script> -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="../resouce/js/scripts.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
            <script src="../resouce/js/chart-area-demo.js" type="text/javascript"></script>
            <script src="../resouce/js/chart-bar-demo.js" type="text/javascript"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
            <script src="../resouce/js/datatables-demo.js" type="text/javascript"></script>
        </ui:composition>
    </h:body>
</html>

