<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition>
            <div class="py-4" style="float: left; width: 15%; background-color: #343a40; color: rgba(255, 255, 255, 0.5);">
                <div class="small" style="padding-left: 10px;">Thông tin liên hệ: <span>admin</span></div>

            </div>
            <div class="py-4 bg-light" style="width: 85%; float: right;">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

