<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" style="height: 100%;">
    <h:head>
        <title>Trang nhân viên</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="../resouce/css/newcss2.css" rel="stylesheet" type="text/css"/>
        <link href="../resouce/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="../resouce/css/cssBang.css" rel="stylesheet" type="text/css"/>
        
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
        <link href="../resouce/css/cssTable.css" rel="stylesheet" type="text/css"/>
        
<!--        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!--        <script src="resouce/js/scripts.js" type="text/javascript"></script>-->
        <script src="../resouce/js/scripts.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!--        <script src="resouce/js/chart-area-demo.js" type="text/javascript"></script>-->
<!--        <script src="resouce/js/chart-bar-demo.js" type="text/javascript"></script>-->
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<!--        <script src="resouce/js/datatables-demo.js" type="text/javascript"></script>-->

        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
        <link rel="stylesheet" type="text/css" href="resouce/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="resouce/css/customer-primerface.css" />

        
        
    </h:head>
    <h:body style="height: 100%; ">
        <div>
            <ui:insert name="header">
                <ui:include src="header.xhtml" />
            </ui:insert>
        </div>

        <div id="layoutSidenav" style="width: 100%; min-height: calc(100vh - 123px);">
            <div style="width: 15%;">
                <ui:insert name="menu">
                    <ui:include src="menu.xhtml" />
                </ui:insert>
            </div>
            <div style="width: 85%;">
                <h:form id="form_main">
                    <p:messages id="messages" showDetail="true" showSummary="false" closable="true" />
                    <p:growl id="growl" showDetail="true" sticky="true"   />  
                    <ui:insert name="content">
                        <ui:include src="content.xhtml" />
                    </ui:insert>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Có" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="Không" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>  
                </h:form>
            </div>
        </div>
        <div>
            <ui:insert name="footer">
                <ui:include src="footer.xhtml" />
            </ui:insert>
        </div>
    </h:body>
</html>

