<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Biểu đồ
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <h4 style="color: skyblue">Biểu đồ doanh thu tour trong năm</h4>
                            <p:chart type="bar" model="#{bieuDo.doanhThu}" style="height: 300px" />
                        </div>
                        <div class="row" style="margin-top: 10px;border-top: 5px solid #f1f1f1">
                            <div class="col-lg-5" style="border-right: 5px solid #f1f1f1">
                                <h4 style="color: skyblue">Thông số lương nhân viên</h4>
                                <p:chart type="pie" model="#{bieuDo.luongNhanVien}" style="width: 400px;height: 300px" />
                            </div>
                            <div class="col-lg-7">
                                <h4 style="color: skyblue">Nhân viên xuất sắc nhất trong tháng này</h4>
                                <p:dataTable value="#{bieuDo.nhanVienXuatSac}"  >
                                    <p:column headerText="Họ và tên" >
                                        <p:outputLabel value="#{bieuDo.nhanVienXuatSac.name}" />
                                    </p:column>
                                    <p:column headerText="Giới tính" >
                                        <p:outputLabel value="#{bieuDo.nhanVienXuatSac.gender}" />
                                    </p:column>
                                    <p:column headerText="Ảnh nhân viên" >
                                        <img src="#{request.contextPath}/#{bieuDo.nhanVienXuatSac.imageNhanVien}" style="width: 100%;height: 200px" />
                                    </p:column>
                                    <p:column headerText="Lương tháng này" >
                                        <p:outputLabel value="#{bieuDo.convertDouble(bieuDo.nhanVienXuatSac.luong)}" />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>

                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

