<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Danh sách địa điểm du lịch
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnMain">
                                <p:outputPanel id="opnListPLace" >
                                    <p:panel header="Danh sách các địa điểm du lịch" >
                                        <p:dataTable value="#{placeController.lstPlace}" var="entity" 
                                                     paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                            <p:column headerText="Tên địa điểm du lịch" sortBy="#{entity.namePlace}" filterBy="#{entity.namePlace}" filterMatchMode="contains">
                                                <p:outputLabel value="#{entity.namePlace}" />
                                            </p:column>
                                            <p:column headerText="Tên thành phố" sortBy="#{entity.tenCity}" filterBy="#{entity.tenCity}" filterMatchMode="contains">
                                                <p:outputLabel value="#{entity.tenCity}" />
                                            </p:column>
                                            <p:column headerText="Trang thái hoạt động" >
                                                <p:outputLabel value="Đang hoạt động" rendered="#{entity.status eq '1'}" />
                                                <p:outputLabel value="Ngừng hoạt động" rendered="#{entity.status eq '0'}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>
                                </p:outputPanel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

