<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Doanh thu trong tháng này
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnList" >
                                <p:outputLabel value="Chọn tháng : " />
                                <p:selectOneMenu id="thang" value="#{doanhThuTour.thang}" >
                                    <f:selectItem itemValue="1" itemLabel="Tháng 1" />
                                    <f:selectItem itemValue="2" itemLabel="Tháng 2" />
                                    <f:selectItem itemValue="3" itemLabel="Tháng 3" />
                                    <f:selectItem itemValue="4" itemLabel="Tháng 4" />
                                    <f:selectItem itemValue="5" itemLabel="Tháng 5" />
                                    <f:selectItem itemValue="6" itemLabel="Tháng 6" />
                                    <f:selectItem itemValue="7" itemLabel="Tháng 7" />
                                    <f:selectItem itemValue="8" itemLabel="Tháng 8" />
                                    <f:selectItem itemValue="9" itemLabel="Tháng 9" />
                                    <f:selectItem itemValue="10" itemLabel="Tháng 10" />
                                    <f:selectItem itemValue="11" itemLabel="Tháng 11" />
                                    <f:selectItem itemValue="12" itemLabel="Tháng 12" />
                                </p:selectOneMenu>
                                <p:commandButton style="margin-left: 10px" value="Xem thông tin" actionListener="#{doanhThuTour.xemDoanhThu()}"
                                                 process="@this,:form_main:thang" update=":form_main:opnList" />
                                <p:panel header="Doanh thu trong tháng này" >
                                    <p:dataTable id="tblList" value="#{doanhThuTour.lstDoanhThu}" var="entity"  paginatorPosition="bottom"
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                                                 paginator="true" rows="10" style="margin-bottom:20px">
                                        <f:facet name="{Exporters}">
                                            <div style="float:right;padding-top: 5px;">
                                                <h:commandLink >
                                                    <p:graphicImage value="/resouce/images/Excel-icon.png" width="24" />
                                                    <p:dataExporter type="xlsxstream" target="tblList" fileName="xuất doanh thu" />
                                                </h:commandLink>
                                            </div>
                                        </f:facet>
                                        <p:column headerText="Tên tour" sortBy="#{entity.description}" filterBy="#{entity.description}" filterMatchMode="contains">
                                            <p:outputLabel value="#{entity.description}" />
                                        </p:column>
                                        <p:column headerText="Người đặt tour" sortBy="#{entity.chgWho}" filterBy="#{entity.chgWho}" filterMatchMode="contains">
                                            <p:outputLabel value="#{entity.chgWho}" />
                                        </p:column>
                                        <p:column headerText="Số khách đi" sortBy="#{entity.numberPeople}" filterBy="#{entity.numberPeople}" filterMatchMode="contains">
                                            <p:outputLabel value="#{entity.numberPeople}" />
                                        </p:column>
                                        <p:column headerText="Giá tour" sortBy="#{entity.price}" filterBy="#{entity.price}" filterMatchMode="contains">
                                            <p:outputLabel value="#{doanhThuTour.convertDouble(entity.price)}" />
                                        </p:column>
                                        <p:column headerText="Ngày khởi hành" sortBy="#{entity.dateStart}" filterBy="#{entity.dateStart}" filterMatchMode="contains">
                                            <p:outputLabel value="#{doanhThuTour.convertDate(entity.dateStart)}" />
                                        </p:column>
                                        <p:column headerText="Ngày kết thúc">
                                            <p:outputLabel value="#{doanhThuTour.getDateCurrent(entity.dateStart,entity.dateNumber)}" />
                                        </p:column>
                                    </p:dataTable>
                                    <h2>Tổng doanh thu:<p:outputLabel value="#{doanhThuTour.convertDouble(doanhThuTour.tinhTongLuong(doanhThuTour.thang))}" ></p:outputLabel> đồng </h2> 
                                </p:panel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

