<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">

            <ui:define name="content">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Danh sách người lái xe
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">

                            <p:outputPanel id="opnMain">
                                <p:outputPanel id="opnListDriver" rendered="#{otoController.disPlayMain()}">
                                    <p:commandButton value="Thêm mới" process="@this" update=":form_main:opnMain" actionListener="#{otoController.chanStatusAddTaiXe()}"/>

                                    <p:dataTable id="tblOto" value="#{otoController.lstDriver}" var="entity"
                                                 paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                        <p:column headerText="">
                                            <p:commandLink styleClass="pi pi-pencil" title="Sửa" actionListener="#{otoController.chanStatusEditTaiXe(entity)}" process="@this" update=":form_main:opnMain" />
                                            <p:commandLink styleClass="pi pi-eye" title="Xem" process="@this" update=":form_main:opnMain" actionListener="#{otoController.chanStatusViewTaiXe(entity)}" />
                                            <p:commandLink styleClass="pi pi-copy" title="Copy" process="@this" update=":form_main:messages, :form_main:opnMain" actionListener="#{otoController.chanStatusCopyTaiXe(entity)}" />
                                            <p:commandLink styleClass="pi pi-trash" title="Xóa" process="@this" update=":form_main:messages, :form_main:opnMain" actionListener="#{otoController.deleteTaiXe(entity)}">
                                                <p:confirm header="Xác nhận xoá" message="Bạn có muốn xoá không" icon="pi pi-exclamation-triangle" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column headerText="Tên lái xe" sortBy="#{entity.nameDriver}" filterBy="#{entity.nameDriver}" filterMatchMode="contains">
                                            <p:outputLabel value="#{entity.nameDriver}" />
                                        </p:column>
                                        <p:column headerText="Ngày sinh">
                                            <p:outputLabel value="#{otoController.convertDate(entity.birtDay)}" />
                                        </p:column>
                                        <p:column headerText="Địa chỉ">
                                            <p:outputLabel value="#{entity.adress}" />
                                        </p:column>
                                        <p:column headerText="Số điện thoại">
                                            <p:outputLabel value="#{entity.phoneNumber}" />
                                        </p:column>
                                        <p:column headerText="Giới tính">
                                            <p:outputLabel value="Nam" rendered="#{entity.gender eq '1'}"/>
                                            <p:outputLabel value="Nữ" rendered="#{entity.gender eq '0'}"/>
                                        </p:column>
                                        <p:column headerText="Trạng thái">
                                            <p:outputLabel value="Đang rảnh" rendered="#{entity.status eq '1'}"/>
                                            <p:outputLabel value="Đang chở khách" rendered="#{entity.status eq '2'}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:outputPanel>
                                <p:outputPanel id="opnRegister" rendered="#{not otoController.disPlayMain()}">
                                    <p:panel header="Thông tin chi tiết tài xế" >
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Tên tài xế" for="name" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="name" value="#{otoController.driver.nameDriver}" required="true"
                                                             requiredMessage="Nhập vào tên tài xê" placeholder="Họ và tên" styleClass="form-control" />
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Ngày sinh" for="birthday" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:calendar id="birthday" value="#{otoController.driver.birtDay}"
                                                            required="true" requiredMessage="Chọn ngày sinh"
                                                            placeholder="dd/MM/yyyy" pattern="dd/MM/yyyy" navigator="true" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <p:outputLabel value="giới tính" for="gender" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:selectOneRadio id="gender" value="#{otoController.driver.gender}" >
                                                    <f:selectItem itemValue="1" itemLabel="Nam" />
                                                    <f:selectItem itemValue="0" itemLabel="Nữ" />
                                                </p:selectOneRadio>
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Số điện thoại" for="sdt" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="sdt" value="#{otoController.driver.phoneNumber}" 
                                                             styleClass="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Địa chỉ" for="adress" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="adress" value="#{otoController.driver.adress}"
                                                             style="form-control" />
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Chọn xe" for="tx" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:selectOneMenu id="tx" value="#{otoController.driver.idOto}" styleClass="form-control" >
                                                    <f:selectItems value="#{otoController.mlstOto}" var="entity" itemValue="#{entity.idOto}" itemLabel="#{entity.nameOto}" />
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                
                                            </div>
                                            <div class="col-lg-2">
                                                <p:commandButton value="Đồng ý" actionListener="#{otoController.dKyTaiXe()}" process="@this,:form_main:opnRegister" update=":form_main:messages :form_main:opnMain" />
                                            </div>
                                            <div class="col-lg-2">
                                                <p:commandButton value="Quay lại" actionListener="#{otoController.handCancel()}" process="@this," update=":form_main:opnMain" />
                                            </div>
                                        </div>
                                    </p:panel>
                                </p:outputPanel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

