<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login page</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--Bootsrap 4 CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
        <link href="#{request.contextPath}/resouce/css/style.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <h:form id="form-main">
                            <p:messages id="messages" showIcon="true" showSummary="false" showDetail="true" closable="true" >
                                <p:autoUpdate />
                            </p:messages>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <p:inputText value="#{loginController.user.username}" styleClass="form-control" placeholder="username"
                                             required="true" requiredMessage="Bạn chưa nhập tên đăng nhập" />

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <p:password value="#{loginController.user.password}" styleClass="form-control" placeholder="password" />
                            </div>

                            <div class="row align-items-center remember">
                                <input type="checkbox" id="check_remember"/>Remember Me
                            </div>
                            
                            <div class="col-12 form-group">
                                <p:commandButton value="Login" action="#{loginController.handLogin()}" process="@this,form-main" update="form-main :form-main:messages" styleClass="btn login_btn" style="width: 100%;" />
                            </div>

                        </h:form>
                    </div>
                    <div class="card-footer" >
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="registerAdminUser.xhtml">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="password.xhtml">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>

