<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Danh sách lương nhân viên
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnMain" >
                                <p:outputPanel id="opnList" >
                                    <p:panel header="Danh sách lương nhân viên tháng này" >
                                        <p:dataTable value="#{nhanVienController.lstLuongNhanVien}" sortBy="#{entity.name}" var="entity" 
                                                     expandableRowGroups="true" paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                            <p:headerRow>
                                                <p:column colspan="4">
                                                    <p:outputLabel value="#{entity.name}" />
                                                </p:column>
                                            </p:headerRow>
                                            <p:column headerText="Giới tính" >
                                                <p:outputLabel value="#{entity.gender}" /> 
                                            </p:column>
                                            <p:column headerText="Ngày sinh" >
                                                <p:outputLabel value="#{nhanVienController.convertDate(entity.birtDay)}" />
                                            </p:column>
                                            <p:column headerText="Số điện thoại" >
                                                <p:outputLabel value="#{entity.phoneNumber}" />
                                            </p:column>
                                            <p:column headerText="Tên tour" >
                                                <p:outputLabel value="#{entity.tenTourDi}" />
                                            </p:column>
                                            <p:summaryRow>
                                                <p:column colspan="3" style="text-align:right">
                                                    <h:outputText value="Lương:" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{nhanVienController.convertDouble(nhanVienController.getLuong(entity.idAdminUser))} đồng">
                                                        
                                                    </h:outputText>
                                                </p:column>
                                            </p:summaryRow>
                                        </p:dataTable>
                                    </p:panel>
                                </p:outputPanel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

