<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Thông tin người đặt xe
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnMain" >
                                <p:outputPanel id="opnList" >
                                    <p:panel header="Danh sách người đặt xe" >
                                        <p:dataTable value="#{otoController.lstNguoiDatXe}" var="nguoiDatxe" 
                                                     paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                            <p:column headerText="Tên người đặt" sortBy="#{entity.tenNguoiDat}" filterBy="#{entity.tenNguoiDat}" filterMatchMode="contains">
                                                <p:outputLabel value="#{nguoiDatxe.tenNguoiDat}" />
                                            </p:column>
                                            <p:column headerText="Tên tour đặt" sortBy="#{entity.tenTour}" filterBy="#{entity.tenTour}" filterMatchMode="contains">
                                                <p:outputLabel value="#{nguoiDatxe.tenTour}" />
                                            </p:column>
                                            <p:column headerText="Tên xe" sortBy="#{entity.tenXe}" filterBy="#{entity.tenXe}" filterMatchMode="contains">
                                                <p:outputLabel value="#{nguoiDatxe.tenXe}" />
                                            </p:column>
                                            <p:column headerText="Ngày đặt xe" sortBy="#{entity.ngayDat}" filterBy="#{entity.ngayDat}" filterMatchMode="contains">
                                                <p:outputLabel value="#{otoController.convertDate(nguoiDatxe.ngayDat)}" />
                                            </p:column>
                                            <p:column headerText="Tên tài xế" sortBy="#{entity.tenTaiXe}" filterBy="#{entity.tenTaiXe}" filterMatchMode="contains">
                                                <p:outputLabel value="#{nguoiDatxe.tenTaiXe}" />
                                            </p:column>
                                            <p:column headerText="Số điện thoại tài xế" >
                                                <p:outputLabel value="#{nguoiDatxe.soDienThoai}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>
                                </p:outputPanel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
