<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="template/template.xhtml">

            <ui:define name="content">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Danh sách oto
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnMain">
                                <p:outputPanel id="opnListDriver" rendered="#{otoController.disPlayMain()}">
                                    <p:commandButton value="Thêm mới" actionListener="#{otoController.changStatusAdd()}" process="@this," update=":form_main:opnMain" />
                                    <p:panel header="Danh sách ô tô " >
                                        <p:dataTable value="#{otoController.mlstOto}" var="entity" 
                                                     paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                            <p:column headerText="Thao tác" >
                                                <p:commandLink styleClass="pi pi-pencil" title="Sửa" process="@this," update=":form_main:opnMain" actionListener="#{otoController.changStatusEdit(entity)}"/>
                                                <p:commandLink styleClass="pi pi-trash" title="Xoá" process="@this" update=":form_main:opnListDriver, :form_main:messages" actionListener="#{otoController.handDelete(entity)}">
                                                    <p:confirm header="Xác nhận xoá" message="Bạn có muốn xoá không" icon="pi pi-exclamation-triangle" />
                                                </p:commandLink>
                                            </p:column>
                                            <p:column headerText="Tên xe" sortBy="#{entity.nameOto}" filterBy="#{entity.nameOto}" filterMatchMode="contains">
                                                <p:outputLabel value="#{entity.nameOto}" />
                                            </p:column>
                                            <p:column headerText="Trạng thái hoạt động" >
                                                <p:outputLabel value="Đang hoạt động" rendered="#{entity.status eq '1'}" />
                                                <p:outputLabel value="Ngừng hoạt động" rendered="#{entity.status eq '0'}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>    
                                </p:outputPanel>
                                <p:outputPanel id="opnRegister" rendered="#{not otoController.disPlayMain()}">
                                    <p:panel header="Thông tin ô tô" >
                                        <div class="row">
                                            <div class="col-lg-2">
                                                
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Tên xe" for="xe" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="xe" value="#{otoController.oto.nameOto}" 
                                                             placeholder="Nhập vào tên ô tô" styleClass="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                
                                            </div>
                                            <div class="col-lg-2">
                                                <p:commandButton value="Đồng ý" actionListener="#{otoController.handOk()}" process="@this,:form_main:opnRegister" update=":form_main:messages :form_main:opnMain" />
                                            </div>
                                            <div class="col-lg-2">
                                                <p:commandButton value="Quay lại" actionListener="#{otoController.handCancel()}" process="@this," update=":form_main:opnMain" />
                                            </div>
                                        </div>
                                    </p:panel>
                                </p:outputPanel>
                            </p:outputPanel>    
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
