<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Lấy lại mật khẩu
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Lấy lại mật khẩu</h3></div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">Nhập vào email đăng kí:</div>
                                    <h:form >
                                        <h:panelGrid columns="2">
                                            To:
                                            <h:panelGroup>
                                                <h:inputText size="15" id="name"
                                                             value="#{sendEmail.recipient}"
                                                             required="true"
                                                             requiredMessage="Required" />
                                                <h:message for="name" style="color:red" />
                                            </h:panelGroup>
                                            Subject:
                                            <h:panelGroup>
                                                <h:inputText size="30" id="subject"
                                                             value="#{sendEmail.subject}"
                                                             required="true"
                                                             requiredMessage="Required"/>
                                                <h:message for="subject" style="color:red"/>
                                            </h:panelGroup>
                                            Message:
                                            <h:panelGroup>
                                                <h:inputTextarea cols="45" rows="15" id="message"
                                                                 value="#{sendEmail.message}"
                                                                 required="true"
                                                                 requiredMessage="Required"/>
                                                <h:message for="message" style="color:red"/>
                                            </h:panelGroup>
                                            <h:commandButton value="Send" action="#{sendEmail.send()}"/>
                                            <h:outputText value="#{sendEmail.statusMessage}" style="color:red"/>
                                        </h:panelGrid>
                                    </h:form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="registerAdminUser.xhtml">Chưa có tài khoản? Đăng kí ngay!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

