<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Quản lý khách đi tour du lịch
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnMain" >
                                <p:outputPanel id="opnListNhanVien" >
                                    <p:panel header="Danh sách các hướng dẫn viên du lịch" >
                                        <p:dataTable id="tblListNhanVien" value="#{tourGuideController.lstNhanVien}" var="entity"
                                                     rowKey="#{entity.idAdminUser}" selectionMode="single" selection="#{tourGuideController.nhanVienSelected}" 
                                                     paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                            <p:ajax event="rowSelect" listener="#{tourGuideController.onRowSelect}" 
                                                    update=":form_main:messages :form_main:opnListNhanVien " process="@this" />
                                            <p:column headerText="Họ và tên" sortBy="#{entity.name}" filterBy="#{entity.name}" filterMatchMode="contains">
                                                <p:outputLabel value="#{entity.name}" />
                                            </p:column>
                                            <p:column headerText="Ngày Sinh" >
                                                <p:outputLabel value="#{tourGuideController.convertDate(entity.birtDay)}" />
                                            </p:column>
                                            <p:column headerText="Giới tính" >
                                                <p:outputLabel value="#{entity.gender}" />
                                            </p:column> 
                                            <p:column headerText="Số điện thoại" >
                                                <p:outputLabel value="#{entity.phoneNumber}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>
                                    <p:panel header="Thông tin người đi Tour" >
                                        <p:dataTable id="tblListNguoiDiTour" value="#{tourGuideController.lstTourGuideAdmin}" var="khachTour" 
                                                     emptyMessage="Chưa có khách đăng kí" paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple">
                                            <p:column headerText="Họ và Tên" >
                                                <p:outputLabel value="#{khachTour.nameTourGuide}" />
                                            </p:column>
                                            <p:column headerText="Ngày Sinh" >
                                                <p:outputLabel value="#{tourGuideController.convertDate(khachTour.birtDay)}" />
                                            </p:column>
                                            <p:column headerText="Giói tính" >
                                                <p:outputLabel value="Nam" rendered="#{khachTour.gender eq '1'}" />
                                                <p:outputLabel value="Nữ" rendered="#{khachTour.gender eq '0'}" />
                                            </p:column>
                                            <p:column headerText="Địa chỉ" >
                                                <p:outputLabel value="#{khachTour.address}" />
                                            </p:column>
                                            <p:column headerText="Tên tour" >
                                                <p:outputLabel value="#{khachTour.tenTour}" />
                                            </p:column>
                                            <p:column headerText="Giá tour" >
                                                <p:outputLabel value="#{tourGuideController.convertDouble(khachTour.giaTour)}" />
                                            </p:column>
                                            <p:column headerText="Người đặt Tour" >
                                                <p:outputLabel value="#{khachTour.chgWho}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>
                                </p:outputPanel>

                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

