<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Quản lý nhân viên
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnRegisterUser" >
                                <p:panel header="Đăng kí nhân viên" >
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Tên đăng nhập" for="userName" />
                                        </div>
                                        <div class="col-lg-4">
                                            <p:inputText id="userName" value="#{registerAdminUser.nhanVien.username}"
                                                         styleClass="form-control" placeholder="Tên đăng nhập"
                                                         required="true" requiredMessage="Nhập vào tên đăng nhập" />
                                        </div>
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Họ và tên" for="Name" />
                                        </div>
                                        <div class="col-lg-4">
                                            <p:inputText id="Name" value="#{registerAdminUser.nhanVien.name}"
                                                         styleClass="form-control" placeholder="Họ và tên"
                                                         required="true" requiredMessage="Nhập vào họ và tên" 
                                                         />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Mật khẩu" for="mk" />
                                        </div>
                                        <div class="col-lg-4">
                                            <p:inputText id="mk" value="#{registerAdminUser.nhanVien.password}"
                                                         styleClass="form-control" placeholder="Nhập mật khẩu"
                                                         required="true" requiredMessage="Nhập vào mật khẩu"
                                                         />
                                        </div>
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Nhập lại mật khẩu" for="remk" />
                                        </div>
                                        <div class="col-lg-4">
                                            <p:inputText id="remk" value="#{registerAdminUser.nhanVien.rePassword}"
                                                         styleClass="form-control" placeholder="Nhập lại mật khẩu"
                                                         required="true" requiredMessage="Nhập lại mật khẩu"
                                                        />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Ngày sinh" for="birthday"/>
                                        </div>
                                        <div class="col-lg-4">
                                            <p:calendar id="birthday" navigator="true" value="#{registerAdminUser.nhanVien.birtDay}"
                                                        placeholder="dd/mm/yyyy" required="true" requiredMessage="Chọn ngày sinh" pattern="dd/MM/yyyy" 
                                                        />
                                        </div>
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Giới tính" for="gender" />
                                        </div>
                                        <div class="col-lg-4">
                                            <p:selectOneRadio id="gender" value="#{registerAdminUser.nhanVien.gender}" >
                                                <f:selectItem itemValue="Nam" itemLabel="Nam" />
                                                <f:selectItem itemValue="Nữ" itemLabel="Nữ" />
                                            </p:selectOneRadio>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Số điện thoại" for="sdt" />
                                        </div>
                                        <div class="col-lg-4">
                                            <p:inputText id="sdt" value="#{registerAdminUser.nhanVien.phoneNumber}"
                                                         styleClass="form-control" placeholder="Số điện thoại" >
                                                <f:validateLength maximum="10" />
                                            </p:inputText> 
                                        </div>
                                        <div class="col-lg-2">
                                            <p:outputLabel value="Email" for="email" />
                                        </div>
                                        <div class="col-lg-4">
                                            <p:inputText id="email" value="#{registerAdminUser.nhanVien.email}"
                                                         styleClass="form-control" placeholder="Email"  />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-lg-4">

                                        </div>
                                        <div class="col-lg-2">
                                            <p:commandButton  value="Đồng ý" actionListener="#{registerAdminUser.handOk()}" process="@this,:form_main:opnRegisterUser" update=":form_main:messages" /> 
                                        </div>
                                        <div class="col-lg-2">
                                            <p:commandButton value="Nhập lại" actionListener="#{registerAdminUser.hancancel()}" process="@this," update=":form_main:opnRegisterUser" />
                                        </div>
                                    </div>
                                </p:panel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

