<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Top 5 tour bán chạy nhất
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnList" >
                                <p:panel header="Danh sách tour bán chạy" >
                                    <p:dataTable value="#{tourController.lstTopTour}" var="entity" >
                                        <p:column headerText="Vị trí" >
                                            <img src="#{request.contextPath}/#{entity.image}" width="100%" height="100px" />
                                        </p:column>
                                        <p:column headerText="Tên tour" >
                                            <p:outputLabel value="#{entity.nameTour}" />
                                        </p:column>
                                        <p:column headerText="Ngày khởi hành" >
                                            <p:outputLabel value="#{tourController.convertDate(entity.dateStart)}" />
                                        </p:column>
                                        <p:column headerText="Giá tour" >
                                            <p:outputLabel value="#{tourController.convertDouble(entity.price)}" />
                                        </p:column>
                                        <p:column headerText="Số lượng người đã đăng ký" >
                                            <p:outputLabel value="#{entity.numberPeople} người" />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>  
                            </p:outputPanel>           
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>



