<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Quản lý Tour
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnMain" >
                                <p:outputPanel id="opnList" rendered="#{tourController.disPlayMain()}">
                                    <p:commandButton value="Thêm" style="margin-bottom: 10px" process="@this" 
                                                         update="opnMain" actionListener="#{tourController.changeStateAdd()}"/>
                                    <p:panel header="Danh sách tour">
                                        <p:dataTable id="tblListTour" value="#{tourController.lstTour}" var="entity" 
                                                     paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                            <p:column headerText="Thao tác">
                                                <p:commandLink styleClass="pi pi-pencil" title="Sửa" process="@this" 
                                                               update=":form_main:opnMain" actionListener="#{tourController.changeStateEdit(entity)}"/>
                                                <p:commandLink styleClass="pi pi-eye" title="Xem" process="@this" 
                                                               update=":form_main:opnMain" actionListener="#{tourController.changeStateView(entity)}"/>
                                                <p:commandLink styleClass="pi pi-trash" title="Xoá" process="@this" 
                                                               update="tblListTour, :form_main:messages" actionListener="#{tourController.handDelete(entity)}">
                                                    <p:confirm header="Xác nhận xoá" message="Bạn có muốn xoá không" icon="pi pi-exclamation-triangle" />
                                                </p:commandLink>
                                            </p:column>
                                            <p:column headerText="Tên tour" sortBy="#{entity.nameTour}" filterBy="#{entity.nameTour}" filterMatchMode="contains">
                                                <p:outputLabel value="#{entity.nameTour}" />
                                            </p:column>
                                            <p:column headerText="Ngày khởi hành" sortBy="#{entity.dateStart}" filterBy="#{entity.dateStart}" filterMatchMode="contains">
                                                <p:outputLabel value="#{tourController.getNgayView(entity.dateStart)}" />
                                            </p:column>
                                            <p:column headerText="Ngày kết thúc">
                                                <p:outputLabel value="#{tourController.getNgayKetThuc(entity.dateStart, entity.dateNumber)}" />
                                            </p:column>
                                            <p:column headerText="Số người đã đăng kí">
                                                <p:outputLabel value="#{entity.numberPeople}" />
                                            </p:column>
                                            <p:column headerText="Giá" sortBy="#{entity.price}" filterBy="#{entity.price}" filterMatchMode="contains">
                                                <p:outputLabel value="#{tourController.convertDouble(entity.price)}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>
                                </p:outputPanel>
                                <p:outputPanel id="opnDetail" rendered="#{not tourController.disPlayMain()}">
                                    <p:panel header="Thông tin chi tiết">
                                        <p:panelGrid columns="4" layout="grid" columnClasses="ui-g-12 ui-md-3 ui-lg-2, ui-g-12 ui-md-9 ui-lg-4, ui-g-12 ui-md-3 ui-lg-2, ui-g-12 ui-md-9 ui-lg-4" styleClass="ui-panelgrid-blank">
                                            <p:outputLabel value="Tên tour" for="nameTour" />
                                            <p:inputText value="#{tourController.tour.nameTour}" id="nameTour" 
                                                         required="true" requiredMessage="Tên tour bắt buộc nhập" />

                                            <p:outputLabel value="Điểm xuất phát" for="departurePlace" />
                                            <p:selectOneMenu id="departurePlace" value="#{tourController.tour.departurePlace}" style="width: 100%"  
                                                             required="true" requiredMessage="Điểm xuất phát bắt buộc nhập">
                                                <f:selectItems value="#{tourController.lstCity}" var="ett" itemLabel="#{ett.nameCity}" itemValue="#{ett.nameCity}"/>

                                            </p:selectOneMenu>

                                            <p:outputLabel value="Ngày khởi hành" for="dateStart" />
                                            <p:calendar value="#{tourController.tour.dateStart}" id="dateStart" mindate="#{tourController.sysDate}"
                                                        pattern="dd/MM/yyyy" required="true" requiredMessage="Ngày khởi hành bắt buộc nhập"/>

                                            <p:outputLabel value="Số ngày" for="dateNumber" />
                                            <p:inputText value="#{tourController.tour.dateNumber}" id="dateNumber"
                                                         required="true" requiredMessage="Số ngày bắt buộc nhập"/>

                                            <p:outputLabel value="Số người" for="numberPeople" />
                                            <p:inputText value="#{tourController.tour.numberPeople}" id="numberPeople"
                                                         required="true" requiredMessage="Số người bắt buộc nhập"/>

                                            <p:outputLabel value="Giá tour" for="price" />
                                            <p:inputText value="#{tourController.tour.price}" id="price"
                                                         required="true" requiredMessage="Giá bắt buộc nhập"/>
                                            <p:outputLabel value="Hướng dẫn viên" for="hdv" />
                                            <p:selectOneMenu value="#{tourController.tour.idAdminUser}" id="hdv" styleClass="form-control" >
                                                <f:selectItems value="#{nhanVienController.lstNhanVien}" var="nhanVien" itemValue="#{nhanVien.idAdminUser}" itemLabel="#{nhanVien.name}" />
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Tháng đi tour" for="month" />
                                            <p:inputText id="month" value="#{tourController.tour.thang}" styleClass="form-control" />
                                        </p:panelGrid>
                                        <p:panelGrid columns="2" layout="grid" columnClasses="ui-g-12 ui-md-3 ui-lg-2, ui-g-12 ui-md-9 ui-lg-10" styleClass="ui-panelgrid-blank">
                                            <p:outputLabel value="Mô tả" for="description"/>
                                            <p:inputTextarea value="#{tourController.tour.description}" id="description" rows="5"/>
                                        </p:panelGrid>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <p:commandButton value="Đồng ý" id="ok" icon="pi pi-save"  process="@this, form_main:opnDetail" 
                                                                 rendered="#{not tourController.isView}" update=":form_main:messages :form_main:opnMain" 
                                                                 actionListener="#{tourController.handSave()}" />
                                                <p:commandButton value="Quay lại" id="canncel" icon="pi pi-refresh" process="@this" 
                                                                 actionListener="#{tourController.handCancel()}" update=":form_main:opnMain" />
                                            </div>
                                        </div>
                                    </p:panel>
                                </p:outputPanel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>