<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/template/template.xhtml">
            <ui:define name="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Quản lý nhân viên
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p:outputPanel id="opnMain" >
                                <p:outputPanel id="opnList" rendered="#{nhanVienController.disPlayMain()}">
                                    <p:commandButton value="Thêm " style="margin-bottom: 10px;margin-top: 10px" actionListener="#{nhanVienController.changeStatusAdd()}" process="@this," update=":form_main:opnMain" />
                                    <p:panel header="Danh sách nhân viên" >
                                        <p:dataTable value="#{nhanVienController.lstNhanVien}" var="entity" 
                                                     paginator="true" paginatorPosition="bottom" rows="10"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="{startRecord}-{endRecord} của {totalRecords} bản ghi"
                                                     rowsPerPageTemplate="5,10,15" sortMode="multiple" >
                                            <p:column headerText="Thao tác" >
                                                <p:commandLink styleClass="pi pi-pencil" title="Sửa" process="@this," update=":form_main:opnMain" actionListener="#{nhanVienController.changeStatusEdit(entity)}"/>
                                                <p:commandLink styleClass="pi pi-copy" title="Copy" process="@this" update=":form_main:opnMain" actionListener="#{nhanVienController.changeStatusCopy(entity)}"/>
                                                <p:commandLink styleClass="pi pi-eye" title="Xem" process="@this" update=":form_main:opnMain" actionListener="#{nhanVienController.changeStatusView(entity)}"/>
                                                <p:commandLink styleClass="pi pi-trash" title="Xoá" process="@this" update=":form_main:opnList, :form_main:messages" actionListener="#{nhanVienController.delete(entity)}">
                                                    <p:confirm header="Xác nhận xoá" message="Bạn có muốn xoá không" icon="pi pi-exclamation-triangle" />
                                                </p:commandLink>
                                            </p:column>
                                            <p:column headerText="Họ và tên" sortBy="#{entity.name}" filterBy="#{entity.name}" filterMatchMode="contains">
                                                <p:outputLabel value="#{entity.name}" />
                                            </p:column>
                                            <p:column headerText="Số điện thoại" >
                                                <p:outputLabel value="#{entity.phoneNumber}"/>
                                            </p:column>
                                            <p:column headerText="Ảnh nhân viên" >
                                                <img src="#{request.contextPath}/#{entity.imageNhanVien}" style="width: 100%;height: 200px" />
                                            </p:column>
                                            <p:column headerText="Ngày sinh" >
                                                <p:outputLabel value="#{nhanVienController.convertDate(entity.birtDay)}" />
                                            </p:column>
                                            <p:column headerText="Trạng thái" >
                                                <p:outputLabel value="Đang làm viêc" rendered="#{entity.status eq '1'}" />
                                                <p:outputLabel value="Nghỉ việc" rendered="#{entity.status eq '0'}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>
                                </p:outputPanel>
                                <p:outputPanel id="opnRegister" rendered="#{not nhanVienController.disPlayMain()}">
                                    <p:panel header="Thông tin chi tiết nhân viên" >
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Tên đăng nhập" for="userName" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="userName" value="#{nhanVienController.nhanVien.username}"
                                                             styleClass="form-control" placeholder="Tên đăng nhập"
                                                             required="true" requiredMessage="Nhập vào tên đăng nhập" disabled="#{nhanVienController.isView}"/>
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Họ và tên" for="Name" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="Name" value="#{nhanVienController.nhanVien.name}"
                                                             styleClass="form-control" placeholder="Họ và tên"
                                                             required="true" requiredMessage="Nhập vào họ và tên" 
                                                             disabled="#{nhanVienController.isView}"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Mật khẩu" for="mk" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="mk" value="#{nhanVienController.nhanVien.password}"
                                                             styleClass="form-control" placeholder="Nhập mật khẩu"
                                                             required="true" requiredMessage="Nhập vào mật khẩu"
                                                             disabled="#{nhanVienController.isView}"/>
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Nhập lại mật khẩu" for="remk" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="remk" value="#{nhanVienController.nhanVien.rePassword}"
                                                             styleClass="form-control" placeholder="Nhập lại mật khẩu"
                                                             required="true" requiredMessage="Nhập lại mật khẩu"
                                                             disabled="#{nhanVienController.isView}"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Ngày sinh" for="birthday"/>
                                            </div>
                                            <div class="col-lg-4">
                                                <p:calendar id="birthday" navigator="true" value="#{nhanVienController.nhanVien.birtDay}"
                                                            placeholder="dd/mm/yyyy" required="true" requiredMessage="Chọn ngày sinh" pattern="dd/MM/yyyy" 
                                                            disabled="#{nhanVienController.isView}"/>
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Giới tính" for="gender" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:selectOneRadio id="gender" value="#{nhanVienController.nhanVien.gender}" disabled="#{nhanVienController.isView}" >
                                                    <f:selectItem itemValue="Nam" itemLabel="Nam" />
                                                    <f:selectItem itemValue="Nữ" itemLabel="Nữ" />
                                                </p:selectOneRadio>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Số điện thoại" for="sdt" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="sdt" value="#{nhanVienController.nhanVien.phoneNumber}"
                                                             styleClass="form-control" placeholder="Số điện thoại" disabled="#{nhanVienController.isView}">
                                                    <f:validateLength maximum="10" />
                                                </p:inputText> 
                                            </div>
                                            <div class="col-lg-2">
                                                <p:outputLabel value="Email" for="email" />
                                            </div>
                                            <div class="col-lg-4">
                                                <p:inputText id="email" value="#{nhanVienController.nhanVien.email}"
                                                             styleClass="form-control" placeholder="Email" disabled="#{nhanVienController.isView}" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-lg-4">

                                            </div>
                                            <div class="col-lg-2">
                                                <p:commandButton  value="Đồng ý" actionListener="#{nhanVienController.handOk()}" process="@this,:form_main:opnRegister" update=":form_main:opnMain :form_main:messages" rendered="#{not nhanVienController.isView}"/> 
                                            </div>
                                            <div class="col-lg-2">
                                                <p:commandButton value="Quay lại" actionListener="#{nhanVienController.handCancel()}" process="@this," update=":form_main:opnMain" />
                                            </div>
                                        </div>
                                    </p:panel>
                                </p:outputPanel>
                            </p:outputPanel>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>